.gradle
local.properties
project.properties
keystore.properties
*.jks
uaccount.keystore
.DS_Store
*.iml
*.log
*.hprof
build/
captures/
.idea/
proguard-mappings/
dexguard-mappings/
dexguard-license.txt
dexguard.properties
DexGuard-8.6.03/*
!DexGuard-8.6.03/lib/
# fastlane specific
**/fastlane/report.xml
# deliver temporary files
**/fastlane/Preview.html
# snapshot generated screenshots
**/fastlane/screenshots
# scan temporary files
**/fastlane/test_output
/app/**/release